:root {
  --primary-color: #2962FF;
  --secondary-color: #fff;
}



i[class^="fa"] {
  font-family: 'FontAwesome';
  font-style: normal;
}
@media(max-width:1550px){

  .banner-left {
    margin-left: 70px;
  }
}
@media(min-width:992px) and (max-width:1199px) {
  .support-form-wrapper {
    padding: 30px 30px 0px 30px;
  }

  .contactus-section {
    box-shadow: none;
  }

  .topbar-address,
  .topbar-mail,
  .topbar-timings {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .img-below-wrap {
    display: none;
  }

  .main-navigation a {
    font-size: 18px;
  }
}

@media(max-width:991px) {

  .banner-form form.wpcf7-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 0px;
  }

  .input-wrapper {
    width: 48%;
  }
  section h2 {
    margin-bottom: 40px;
  }

  .customer-image {
    clip-path: polygon(100% 0%, 100% 100%, 100% 85%, 82% 100%, 0% 100%, 0% 0%);
  }

  div#comments {
    flex-direction: column;
  }

  ol.comment-list {
    width: 100% !important;
  }

  div#respond {
    width: 100% !important;
  }

  div#comments {
    flex-direction: column;
  }

  .counter-container {
    padding: 25px 10px
  }

  .counter-img {
    width: 60px;
  }

  span.counter-number {
    font: normal normal 900 40px/28px Lato;
  }

  .counter-info,
  p.counter-txt {
    text-align: center;
  }
}

@media(max-width:1400px) {
  section#testimonials .owl-dots {
    width: 100%;
    right: 0px;
  }

  ul#menu-primary-menu {
    justify-content: center;
    gap: 10px;
  }

  #site_top .topbar-text p,
  span.topbar.data {
    font-size: 12px;
  }

  .menu-item-has-children::after {
    width: 10px;
    height: 10px;
    top: 19px;
    right: 9px;
  }

}

@media(min-width:1200px) and (max-width:1350px) {
  .pricing-card {
    clip-path: polygon(100% 0%, 100% 100%, 100% 90.55%, 83.48% 100%, 0% 100%, 0% 0%);
  }
}

@media(max-width:991px) {

  .primary_nav>li>ul.sub-menu>li a {
    font-size: 18px !important;
  }
}

@media(min-width:992px)and (max-width:1199px) {

  .faq-img-wrapper {
    position: relative;
    clip-path: polygon(100% 0%, 100% 100%, 100% 75%, 88.1% 100%, 0% 100%, 0% 0%);
  }

  .dots-container .owl-dot {
    font: normal normal 900 20px / 36px Lato;
    width: 50px;
    height: 50px;
  }
}

@media(max-width:1024px) {
  div#header .sticky.stickynavbar+.toggle-nav.mobile-menu {
    top: 17px !important;
  }

  .main-navigation ul ul li:hover {
    background-color: #0000;
  }

  .calc-container.vertical {
    margin: 0px !important;
  }

  div#header {
    box-shadow: 3px 3px 6px #00000029;
    background-color: #fff;
  }

  div#header .container {
    box-shadow: none;
  }

  div#vw-sticky-menu {
    background-image: linear-gradient(to left, #fff, #fff);
  }
}

@media(min-width:768px) and (max-width:991px) {
  .quote a {
    padding: 10px 15px;
  }

  section#About-us {
    padding: 70px 0px 50px;
  }

  .whyChooseUs-right p:nth-child(1) {
    margin-bottom: 50px;
  }

  section#whyChooseUs {
    padding: 50px 0px 0px;
  }

  .testimonial-right {
    margin-top: 0px;
  }

  .testimonial-right {
    padding: 20px;
  }

  .comment-meta.commentmetadata+p {
    max-width: 100%;
    margin-left: 0%;
    margin-right: 0;
  }

  .reply {
    margin-left: 0px;
    width: 100%;
    padding: 0px 21px;
  }

  .calling-widget a {
    font-size: 25px;
  }

  .widget_custom_services_widget {
    padding: 34px 15px;
  }

  .widget-title {
    font: normal normal 900 25px/40px Lato;
  }
}

@media(max-width:768px) {
  section#site_top {
    border-radius: 10px;
  }
}

@media(min-width:521px) and (max-width:767px) {
  .topbar-left {
    display: none;
  }
}


@media(min-width:576px) and (max-width:767px) {
  /* .toggle-nav.mobile-menu {
    top: 15px !important;
  }

  div#header .sticky.stickynavbar+.toggle-nav.mobile-menu {
    top: 15px !important;
  } */

  .img-below-wrap {
    display: none;
  }

  .GetInTouch-features {
    justify-content: initial;
  }

  .feature-info p {
    text-align: left;
  }
}

@media(max-width:600px) {
  h1.banner-heading {
    font-size: 32px;
    line-height: 41px;
  }

  .banner-page-text.container {
    padding: 220px 20px 110px;
  }

  .home h1::after,
  .home h2::after,
  .recent-posts h2::after,
  section#About-us h2::after,
  .best-left h3::after,
  .getAquote h2::after {
    left: 0;
    right: 0;
    margin: auto;
  }

  .home h2,
  .recent-posts h2,
  section#About-us h2,
  .best-left h3,
  .getAquote h2,
  .tracking-your-order,
  .GetInTouch.heading h2.left,
  section.thebest h3.left,
  .h3,
  .client-heading h3,
  section h2,
  .single-post h2,
  .quote-heading h4,
  section#service-single h2 {
    text-align: center;
    font-size: 28px;
    line-height: 37px;
    font-weight: 600;
    max-width: 100% !important;
  }



  .heading-tagline {
    font: normal normal bold 17pt/25pt Lato;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .Achivement_block {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .mission-left h3 {
    font: normal normal 900 26px/35px Lato;
    text-align: center;
  }

  .dist-card span,
  .whyChooseUs-counter p {
    font: normal normal 900 30px/20px Lato;
  }

  .dist-card p {
    font: normal normal bold 18px/30px Lato;
  }

  .para,
  .banner-content,
  section#About-us,
  .testimonial-content p,
  h3.accordion-click,
  .answer,
  .ewd-otp-form.ewd-otp-tracking-form-div,
  .whyChooseUs-counter,
  .blog-que,
  .counter-info,
  section h3 {
    text-align: center;
  }

  .h3 {
    text-align: center;
  }

  .brand-ul li {
    text-align: center;
  }

  h2.left {
    width: 100%;
  }

  .pricing-card p {
    text-align: left;
  }

  .whyChooseUs-right p {
    text-align: center;
  }

  .whyChooseUs-right p:nth-child(1) {
    margin-bottom: 50px;
  }

  .client-info {
    margin: 0px auto;
  }

  .support-box,
  .single-post ul {
    justify-content: center;
  }

  .GetInTouch_wrapper {
    padding-right: 0px;
  }

  section#whyChooseUs {
    padding: 50px 0px 0px;
  }

  .GetInTouch_wrapper {
    padding: 50px 0px;
  }

  section#order_tracking-us {
    padding: 50px 0px 40px;
  }

  .client-heading h3 {
    margin-bottom: 30px;
  }

  .info-bar p a,
  .info-bar p {
    font: normal normal normal 14px/23px Lato;
    text-align: left;
    color: var(--secondary-color);
  }

  .entry-date,
  .entry-comments,
  .entry-comments a,
  li.entry-author a {
    font-size: 13px;
  }

  .entry-author a {
    margin-left: 20px;
  }

  .list-unstyled {
    width: 100px;
  }

  .testimonial-right {
    padding: 0px 40px;
  }

  .testimonial-content p {
    font: normal normal normal 20px Lato;
  }

  .single-blog-img .my-5 {
    margin: 20px 0px !important;
  }

  .banner-left {
    margin-left: 0px !important;
  }

  .banner-form form.wpcf7-form {
    flex-direction: column;
    gap: 10px;
  }

  .input-wrapper {
    width: 100%;
  }

  .submit-wrapper-banner {
    position: relative;
    margin: 0px auto;
  }

  .wpcf7 form.invalid .wpcf7-response-output {
    text-align: center;
  }

}


@media(max-width:370px) {
  .quote a {
    padding: 5px 5px;
    font-size: 12px;
  }
}



/* toggle menu  */


@media(max-width:575px) {
  .ewd-otp-tracking-results-value {
    text-align: left !important;
  }

  div#header {
    height: 56px !important;
  }

  header#masthead {
    height: 44px !important;
  }

  .toggle-nav.mobile-menu {
    top: 17px !important;
  }

  div#header .sticky.stickynavbar+.toggle-nav.mobile-menu {
    top: 17px !important;
  }

  .main-navigation a {
    text-align: left;
  }

  .primary_nav>li>ul.sub-menu>li a {
    text-align: left;
  }

  section.support-page .middle-content h2 {
    font: normal normal bold 25px/28px Lato;
    margin: 20px 0px 20px;
  }

  .middle-content p {
    text-align: left;
  }

  section.support-page h4 {
    font-size: 20px;
  }

  section.support-page {
    padding-top: 30px;
  }

  .accordion-wrapper h3 {
    font: normal bold normal 18px/25px Lato;
  }

  .calculator-settings.ccb-front {
    max-width: 280px !important;
  }

  .banner-content {
    left: 0;
    right: 0;
    margin: 0px auto;
  }

  .GetInTouch-feature {
    margin-bottom: 20px;
  }

  img.img-below {
    display: none;
  }

  #comments h2#reply-title {
    width: 100%;
    text-align: center;
  }

  .banner-page-text.container .col-lg-4.col-sm-6.col-6 {
    width: 55%;
  }

  .section-wrap {
    margin-top: 40px;
  }

  .wpcf7 form.invalid .wpcf7-response-output {
    bottom: -5px;
  }

  .title-box {
    background: var(--secondary-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 12px #00000029;
  }

  .title-box .row .col-lg-4 {
    background: var(--secondary-color) 0% 0% no-repeat padding-box;
    box-shadow: none;
  }


  label.ewd-otp-field-label {
    left: 17px;
  }

  ul.services-list {
    max-width: 190px;
    margin: 0px auto;
  }

  .bradcrumbs span,
  .bradcrumbs a {
    font: normal normal bold 14px/16px Lato;
  }

  .outer-footer {
    background-image: none !important;
  }

  .tracking-your-order::after {
    display: none;
  }

  .vw-logo a img {
    width: 80px;
  }
}